.items-container {
    background-color: var(--clr1bg-light);
    padding: 20px;
    display: flex;
    gap: 10px;
}

.item {
    background-color: var(--clr2bg);
    padding: 5px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;

    display: grid;
    place-items: center;
}

.item.selected {
    border: 2px solid gold;
}