 /* note index */
 * {
     margin: 0;
     padding: 0;
     font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
     box-sizing: border-box;
 }

 .note-edit {
     display: flex;
     flex-direction: column;
 }

 .note-edit input {
     border: none;
     padding: 2em;
     background-color: transparent;
     font-family: RobotoRegular, serif
 }