body {
    overflow-x: hidden;

    box-sizing: border-box;
    color: var(--main-font-color);
}

#root {
    margin-bottom: 160px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}